<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">

    <system>
        <section id="insession_searchblocker"
                 translate="label"
                 type="text"
                 sortOrder="999"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <label>Search Blocker</label>
            <tab>catalog</tab>
            <resource>Magento_Config::config</resource>

            <group id="general"
                   translate="label"
                   sortOrder="10"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>General</label>

                <field id="enabled"
                       translate="label"
                       type="select"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Enable Global Search Blocker</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Master switch – disables all functionality when set to "No".</comment>
                </field>

                <field id="enable_controller"
                       translate="label"
                       type="select"
                       sortOrder="15"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Enable for Frontend Search</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Blocks suspicious or blacklisted searches in the catalog frontend.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

                <field id="enable_rest"
                       translate="label"
                       type="select"
                       sortOrder="16"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Enable for REST API</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Applies filtering for search terms in REST endpoints like /rest/V1/products.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

                <field id="enable_graphql"
                       translate="label"
                       type="select"
                       sortOrder="17"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Enable for GraphQL</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Applies filtering for search terms in GraphQL product queries.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

                <field id="terms"
                       translate="label"
                       type="textarea"
                       sortOrder="20"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Blacklisted Search Terms</label>
                    <comment>Comma-separated list (e.g. gratis, test, porn).</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

                <field id="redirect_path"
                       translate="label"
                       type="text"
                       sortOrder="30"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Redirect Path</label>
                    <comment>Page to redirect when a blocked search occurs (e.g. /, /no-search).</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

                <field id="enable_regex_filter"
                       translate="label"
                       type="select"
                       sortOrder="40"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Enable Regex Security Filter</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Checks for common SQL-like injection patterns (e.g. union, select, drop).</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
            
            <group id="logging"
                   translate="label"
                   sortOrder="20"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Logging</label>

                <field id="enable_logging"
                       translate="label"
                       type="select"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Enable Logging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>When enabled, blocked search attempts will be logged to <code>var/log/search_blocker.log</code>.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

                <field id="log_channels"
                       translate="label"
                       type="multiselect"
                       sortOrder="20"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Log Channels</label>
                    <source_model>InSession\SearchBlocker\Model\Config\Source\LogChannels</source_model>
                    <comment>Select which areas should log blocked attempts (Frontend, REST, GraphQL).</comment>
                    <depends>
                        <field id="enable_logging">1</field>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>

        </section>
    </system>
</config>
